# Dependencies
node_modules

# Build output
dist
build

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Tests
coverage
.nyc_output
test

# Environment files
.env
.env.*
!.env.sample

# OS
.DS_Store

# IDE
.vscode
.idea
*.sublime-workspace

# Git
.git
.gitignore

# Docker
.dockerignore
docker-compose.yml
docker-compose*.yml

# Temp
.temp
.tmp
